torch
sentence_transformers
transformers 
langchain
fastapi
uvicorn
n
pypdf
PyPDF2
jinja2
chroma
qdrant-client
ctransformers
python-multipart
aiofiles
scrapy
scipy
gensim
faiss
numpy
langgraph 
langchain-community 
beautifulsoup4 
langchain_openai